.message {
    padding: 30px;
    max-width: 200px;
    display: flex;
    padding: 10px;
}


.imageAndText {
    display: flex;
}


.imageAndText img {
    height: 40px;
    width: 40px;
    display: flex;
    align-self: flex-end;
    margin-right: 15px;

}

.text {
    padding: 10px;
    background-color: #b0f1f8;
    position: relative;
    border-radius: 10px;


}
.text::before {
    content: '';
    position: absolute;
    left: -30px;
    bottom: -5px;
    border: 20px solid transparent;
    border-radius: 15px;
    border-right: 20px solid #b0f1f8;
}


.name {
    color: #5f5ff5;
}

.messageText {
    color: #2020d9;
}

.time {
    display: flex;
    align-self: flex-end;
    justify-content: end;
    color: rgba(78, 78, 78, 0.4);
}

.img {
    border-radius: 20%;
}

