

.sidebar {

    background-color: white;
    width:250px;
    height: 100%;
    position: fixed;
    transform:translateX(-100%);
    transition: 0.5s;
    z-index: 10;


}

.sidebar.open {
    transform:translateX(0%);
    transition: 0.5s;
}

.background {
    margin-right:317px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 10;
}

.nav {
    display: flex;
    flex-direction: column;

}

.nav a {
    font-weight: bold;
    margin: 25px auto;
    font-size: 25px;
    text-decoration: none;
    color:black;



}

.nav a:hover {
    color:#58ACFF;
    text-decoration: none;
    font-weight: bold;

}

.nav a.active {
    color:#0059B2;
    font-weight:bolder;
    text-decoration:underline;
}

.close {
    position: relative;
    top: 1%;
    left:90%;
    background-color: transparent;
    border: none ;
}

.close img {
}

